:root {
  --link-color: #4d5ae5;
  --overlayshadow-color: #2e2f42;
  --bodytext-color: #434455;
  --lightmodebg-color: #f4f4fd;
  --overlay-color: #2e2f42;
  --headerbgtc-color: #ffffff;
  --modalbg-color: #fcfcfc;
  --ctas-color: #404bbf;
  --validandsuccess-color: #31d0aa;
  --helpertext-color: #8e8f99;
  --accentandhairline-color: #e7e9fc;
  --heroimagebfcolor-color: #2e2f42;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--link-color);
}
.logosecondpart {
  color: var(--heroimagebfcolor-color);
}
.list {
  list-style: none;
}
.menunav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--heroimagebfcolor-color);
}
.menunav .link {
  text-decoration: none;
}
.menunav .link:hover {
  text-decoration: none;
  color: var(--ctas-color);
}
.menunav .link:focus {
  text-decoration: none;
  color: var(--ctas-color);
}
.menunav:hover {
  text-decoration: none;
  color: var(--ctas-color);
}
.menunav:focus {
  text-decoration: none;
  color: var(--ctas-color);
}
.headerclass {
  font-style: normal;
}
.addressstyle {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  letter-spacing: 0.02em;
  color: var(--bodytext-color);
}
.addressstyle:hover {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ctas-color);
}
.addressstyle:focus {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ctas-color);
}
.secfirst {
  background-color: var(--overlayshadow-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--bodytext-color);
  background-color: #ffffff;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 2%;
  background-color: var(--overlayshadow-color);
  color: var(--headerbgtc-color);
  text-align: center;
  letter-spacing: 0.02em;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  color: var(--overlayshadow-color);
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  color: var(--overlayshadow-color);
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--link-color);
  color: var(--headerbgtc-color);
  cursor: pointer;
  letter-spacing: 0.04em;
}
button:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--ctas-color);
  color: var(--headerbgtc-color);
  cursor: pointer;
  letter-spacing: 0.04em;
}
button:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--ctas-color);
  color: var(--headerbgtc-color);
  cursor: pointer;
  letter-spacing: 0.04em;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 4%;
  color: var(--bodytext-color);
}
a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 4%;
  text-decoration: none;
  color: var(--bodytext-color);
}
a:active {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 4%;
  text-decoration: none;
  color: var(--ctas-color);
}
.secondzagolovok {
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragrafvtoroysec {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.zagolovokvtoroy {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.secforth {
  background-color: var(--lightmodebg-color);
}
.tmfirst {
  background-color: var(--headerbgtc-color);
}
footer {
  background-color: var(--overlayshadow-color);
}
.pvfootere {
  line-height: 1.5;
  color: var(--lightmodebg-color);
  letter-spacing: 0.02em;
}
footer {
  color: var(--lightmodebg-color);
}
.logothirdpart {
  color: var(--lightmodebg-color);
}
.buttonportfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--link-color);
  background-color: var(--lightmodebg-color);
  cursor: pointer;
}
.buttonportfolio:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--headerbgtc-color);
  background-color: var(--ctas-color);
  cursor: pointer;
}
.buttonportfolio:focus {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--headerbgtc-color);
  background-color: var(--ctas-color);
  cursor: pointer;
}
.vtoroyzagolovokportfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--overlay-color);
}
.paragrafportfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bodytext-color);
}
